<div class="form-check form-switch">{% render '@base-form', {type: type}%}</div>
<div class="form-check form-switch">{% render '@base-form', {type: type, checked: true, id: 2}%}</div>
<div class="form-check form-switch">{% render '@base-form', {type: type, disabled: true, checked: true, id: 3}%}</div>
<div class="form-check form-switch">{% render '@base-form', {type: type, disabled: true, checked: false, id: 4}%}</div>