<p>Default multiple select
{% render '@base-form', {type: 'select', options: options, multiple: true}%}

<p>Specific multiple select with custom size
{% render '@base-form', {type: 'select', options: options, multipleSize: 3}%}