<div class="form-check">{% render '@base-form', {type: type, inputClass: 'btn-check', labelClass:'btn-outline-primary'}%}</div>
<div class="form-check">{% render '@base-form', {type: type, checked: true, id: 2, inputClass: 'btn-check', labelClass:'btn-outline-primary'}%}</div>
<div class="form-check">{% render '@base-form', {type: type, disabled: true, checked: true, id: 3, inputClass: 'btn-check', labelClass:'btn-outline-primary'}%}</div>
<div class="form-check">{% render '@base-form', {type: type, disabled: true, checked: false, id: 4, inputClass: 'btn-check', labelClass:'btn-outline-primary'}%}</div>