<div class="btn-group" role="group" aria-label="Basic example">{% render '@base-form', {type: type, text:"ON",inputClass: 'btn-check', labelClass: 'btn-outline-primary'}%}{% render '@base-form', {type: type, text:"OFF",checked: true, id: 2, inputClass: 'btn-check', labelClass: 'btn-outline-primary'}%}
    