<{% if href %}a href="{{ href }}"{%elif type %}input type="{{type}}"{% else %}button type="button"{% endif %} class="btn {%if template %}btn-{color}{%if outline %}-{outline}{% endif%}{%if size %} {sizing}{% endif%}{%if align %} {align}{% endif%}{%if space %}{spacing}{% endif%}{%if textspace %} {text-space}{%endif%}{%endif %}{%block class -%} {%- if class -%} {{class }} {%- endif -%} {%- endblock class -%}"{%if state %} {{state}}{% endif%}>
{% if href %}{{label}} Link Text{% elif type%}{{label}} Input Text{% else %}{{label}} Button Text{% endif %}{%- block after -%}{%- endblock after %}
</{% if href %}a{% elif type %}input{% else %}button{% endif %}>